<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user2, partial: "card", as: :user2 %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user2s/user2_transactions" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user2s/user2_sellers" %>
  </div>
</div>
  <!-- Show Page Customization end -->
